.add-ons {
  max-width:100%;
  margin: 20px 0;
}
.add-ons div {
  margin: 10px 5px;
}
.add-ons h4, h6 {
  margin: 2px 0;
}
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  padding-right: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  display: none;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -12px;
  height: 25px;
  width: 25px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) and style it */
.checkmark:after {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 10px;
  right: 10px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #473dff;
}

@media screen and (min-width: 600px) {
  .add-ons {
    max-width: 90%;
    height: 100px;
  }
  .inService1, .inService2, .inService3 {
    display: flex;
    justify-content: flex-end;
  }
}