.inputs {
  display: flex;
  flex-direction: column;
  padding: 10% 8%;
}

#name, #mail, #phone {
  border: 1px solid #d6d9e6;
  border-radius: 5px;
  display: block;
  width: 90%;
  height: 40px;
  margin: 2px 0 20px;
}

#name:hover, #mail:hover, #phone:hover {
  cursor: pointer;
  border-color: white;
}
input:focus{
  outline: 1px solid #473dff;
}